[Desktop Entry]
Type=Application
X-Nemo-Application-Type=silica-qt5
Icon=harbour-cantonferry
Exec=harbour-cantonferry
Name=广州水上巴士
# translation example:
# your app name in German locale (de)
Name[de]=harbour-cantonferry

